{% extends 'base.html' %}

{% block title %}關於我{% endblock %}
{% block style %}style="background-image: url('../static/about.jpg')"{% endblock %}



{%  block content %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 about">
        我是張家豪,有接近十年的教學經驗｡ 近年開始自學與進修, 人生的下半場以資料分析師跟後端工程師為目標, 您的寶貴經驗與意見會是我最大的動力, 歡迎留言給我｡<br>
        <img src="{{url_for('static', filename='Matt.png')}}" style='height:50px; width:50px;float: right;'></img>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock%}